.root {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 90%;
    max-width: 800px;
    margin: auto;
    margin-top: 10rem;
    background: #f8f8f8;
    box-sizing: border-box;
    padding: 2rem 4rem 6rem 4rem;
    border-radius: 0.25rem;
    box-shadow: 1px 10px 20px #aaa;

    .todo-list {
        display: flex;
        flex-flow: column;
        margin-top: 1rem;
    }
}
